#Intellij
*.iml
*.ipr
*.iws
.idea
target

#Eclipse
.metadata
.classpath
.eclipse/
.idea/
.project
.revision/
.settings/
.externalToolBuilders/
local.properties
.recommenders
*.launch
build/
target/
out/